@import "../../styles/colors.scss";

.navbar {
  background-color: black;
}

.navbar-toggler-icon {
  background-color: white;
}

.btn-dark {
  background-color: black;
  border-color: black;
}

.navLink {
  color: white;
  font-family: "Montserrat-ExtraBold";
  font-size: 1.125rem;
  margin-right: 20px;
  @media (max-width: 992px) {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 2.375rem;
  }
}

a:hover {
  color: $grey_1;
  text-decoration: none;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("../../assets/images/menu_button.svg");
  background-color: black;
}
.navbar-nav .active {
  color: $green;
  @media (min-width: 992px) {
    border-bottom: 0.5rem solid $green;
  }
}

.verticalLine {
  display: inline-block;
  border-left: 4px solid $grey_1;
  height: 22px;
}

.language {
  font-size: 22px;
  font-family: "Montserrat-Bold";
  @media (max-width: 992px) {
    color: black;
    background-color: white;
    border-color: white;
  }
}

.navbar-collapse {
  @media (max-width: 992px) {
    background-color: white;
  }
}
