@font-face {
  font-family: "Montserrat-ExtraBold";
  src: local("Montserrat-ExtraBold"),
    url("../assets/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url("../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"), url("../assets/fonts/Montserrat-Medium.ttf");
}
