@import "../../styles/colors.scss";

.row-responsive-flex {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.subTitle {
  color: $grey_2;
  font-family: "Montserrat-Bold";
}

.title {
  font-family: "Montserrat-ExtraBold";
}

.description {
  font-family: "Montserrat-Regular";
}
