@import "../../styles/colors.scss";

.background-footer {
  background-color: $blue;
}
.footer-text {
  font-family: "Montserrat-Medium";
  font-size: 0.875rem;
}

.footer-copyright {
  font-family: "Montserrat-Medium";
  font-size: 0.75rem;
}

.horizontal-line {
  background-color: white;
  opacity: 0.5;
  width: 85%;
}
