@import "../../styles/colors.scss";

.carousel-indicators {
  li {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    @media (max-width: 768px) {
      height: 12px;
      width: 12px;
    }
  }
}

.carousel-control-prev {
  display: none;
}
.carousel-control-next {
  display: none;
}

.banner-height {
  height: 75%;
}

.carousel-content {
  bottom: 13%;
  // left: 252px;
  right: 0;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  @media (max-width: 768px) {
    left: 5%;
  }
  h1 {
    font-size: 5rem;
    font-family: "Montserrat-ExtraBold";
    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }
  p {
    margin-top: 4%;
    font-size: 1.5rem;
    font-family: "Montserrat-ExtraBold";
    padding-left: 0;
  }
}

.horizontalLine {
  border-bottom: 10px solid $green;
  width: 5%;
}
