@import "../../styles/colors.scss";

@mixin erase-outline {
  border: 1px solid $blue;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
  outline: none;
}

.image-container {
  width: 80%;
}
.form-container {
  background-color: $grey_light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4% 0 4% 0;
}

form {
  width: 80%;
  h2 {
    font-family: "Montserrat-ExtraBold";
    width: 100%;
  }
  p {
    font-family: "Montserrat-Regular";
    width: 100%;
    padding-top: 1%;
    padding-bottom: 2%;
  }
}

.textinput {
  &::-webkit-input-placeholder {
    font-family: "Montserrat-Medium";
    font-size: 1rem;
  }
  &:focus {
    &::-webkit-input-placeholder {
      visibility: hidden;
    }
    + .textinput-label {
      display: inline-block;
    }
    + .select-label {
      display: inline-block;
    }
    @include erase-outline;
  }
  border-radius: calc(0.75em + 0.375rem + 1px);
  border: 1px solid black;
  width: 100%;
  padding: 1% 4% 1% 4%;
  background-color: $grey_light;
}

.is-invalid {
  border-color: $red;
  &::-webkit-input-placeholder {
    color: $red;
  }
  &:focus {
    border-color: $red;
    &::-webkit-input-placeholder {
      visibility: hidden;
    }
    + .textinput-label {
      display: inline-block;
      color: $red;
    }
  }
}

.textinput-label {
  display: none;
  position: absolute;
  left: 15px;
  top: -8px;
  color: $blue;
  font-size: 0.75rem;
  font-family: "Montserrat-Medium";
  background-color: #fff;
  padding: 0 3px;
}

.select-label {
  @extend .textinput-label;
  left: 30px;
}

.invalid-feedback {
  @extend .checkbox-message;
  // color: $red;
  // font-size: 0.75rem;
  // text-align: end;
  // font-family: 'Montserrat-Regular';
}

.checkbox-message {
  color: $red;
  font-size: 0.75rem;
  text-align: end;
  font-family: "Montserrat-Regular";
}

.custom-checkbox {
  .custom-control-input {
    &:focus ~ .custom-control-label::before {
      @include erase-outline;
    }
    &:checked ~ .custom-control-label {
      &:before {
        background-color: $blue;
        border-color: $blue;
      }
    }
    &:valid {
      &:focus ~ .custom-control-label {
        &:before {
          @include erase-outline;
        }
      }
      &:checked ~ .custom-control-label:before {
        background-color: $blue;
        border-color: $blue;
      }
      ~ .custom-control-label {
        color: black;
        &:before {
          border-color: black;
        }
      }
    }
  }
  .custom-control-label {
    margin-left: 1rem;
    &:before {
      top: 0;
      left: -2.5rem;
      width: 1.5rem;
      height: 1.5rem;
      border-color: black;
    }
    &:after {
      top: 0;
      left: -2.5rem;
      width: 1.5rem;
      height: 1.5rem;
      border-color: $blue;
    }
    font-family: "Montserrat-Regular";
    font-size: 1rem;
  }
}

.m-xs {
  @media (max-width: 768px) {
    margin-top: 2%;
  }
}

.checkboxes-description {
  font-family: "Montserrat-Regular";
  font-size: 1rem;
}
.form-check-input {
  margin-top: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.form-check-label {
  font-family: "Montserrat-Medium";
  font-size: 1rem;
  margin-left: 1rem;
}

.button-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-submit {
  width: 20.5rem;
}
