.cont {
  width: 100%;
  height: 3.5rem;
  background-color: black;
  margin-left: 0;
  margin-right: 0;
}

.display-sm-none {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.copyright {
  font-size: 1rem;
  font-family: "Montserrat-Medium";
  color: white;
  @media (max-width: 768px) {
    width: 70%;
    font-size: 0.75rem;
  }
}

.logo-container {
  @media (max-width: 768px) {
    width: 30%;
    padding-right: 1rem !important;
  }
}
