@import "../../styles/colors.scss";

.button-primary {
  background-color: $blue;
  border-width: 0;
  border-radius: 28px;
  width: 40%;
  height: 3.5rem;
  color: white;
  font-family: "Montserrat-ExtraBold";
  font-size: 1.125rem;
  box-shadow: 0 3px 6px $grey_shadow;
}
