@import "../../styles/colors.scss";

.company-location {
  width: 1.2rem;
  height: 1.2rem;
  background-color: $green;
  border-radius: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  &:hover{
    @media (min-width: 992px){
      top: calc(50% - 4rem);
      left: calc(50% - 4rem);
      width: 8rem;
      height: 8rem;
      border-radius: 4rem;
    }
  }
}


